<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ title }}</title>
</head>

<body>
     <font color = 'red'><b>{{error if error != None }}</b></font>
     <form method = "GET" action = "/login">
          Username:
          <input type = "text" name = "username"> <br>
          Password:
          <input type = "password" name = "password"> <br>
          <input type = "submit" value = "Login">
     </form>

</body>

</html>
